.header {
    background-color: #ed6b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}

.login-page {
    background-color: #eb7272;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}